<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no" />

    <title>Learning sums with Vector</title>

    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/lmwv.css">

    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/jquery-ui-1.12.1.min.js"></script>
    <script src="../static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="../static/js/engine.js?q={{ randomID }}"></script>
</head>

<body>
    <div id="calculator_pad" class="flex_view">
        <div class="display">
            <div class="result flex-item">&nbsp;</div>
            <div class="delete flex-item">X</div>
        </div>
        <div class="numpad"></div>
    </div>
    <div id="menu_overlay" class="flex_view"></div>
</body>

</html>